<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <!--클래스 alias가 들어갈 공간-->
        <typeAlias type="com.example.reservation_spring.member.model.Member" alias="member"></typeAlias>
        <typeAlias type="com.example.reservation_spring.business.model.Business" alias="business"></typeAlias>
        <typeAlias type="com.example.reservation_spring.hotel.model.Hotel" alias="hotel"></typeAlias>
    </typeAliases>
</configuration>
